* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Bai Jamjuree';
    display: flex;
    background-color: #f5f5f5;
    min-height: 100vh;
}

/* sidebar */
.sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sidebar h1 {
    font-size: 18px;
    color: #c44c00;
    margin-bottom: 30px;
}

.menu {
    margin-top: 20px;
}

.menu-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.sidebar .menu-item {
    margin-bottom: 20px;
    align-items: center;
}

.sidebar .menu-item a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #939393;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.sidebar .menu-item a.active,
.sidebar .menu-item a:hover {
    background-color: #EEBBBA;
    color: #81171B;
}

.sidebar .logout {
    margin-top: auto;
}

.logout {
    text-align: center;
    justify-content: center;
}

.logout a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #EC6868;
    ;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.logout img {
    width: 40px;
    height: 40px;
    margin-right: 20px;

}
.not-found {
    margin-top: 100px;
    text-align: center;
}


.sidebar .logout a:hover {
    background-color: #EEBBBA;
}

.image-sidebar {
    width: 100px;
    /* height: 100px; */
    border-radius: 10px;
    margin-right: 10px;
}

/* sidebar */

/* content */
.content {
    flex: 1;
    padding: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section-header h1 {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    background-color: #F0AC28;
    border-radius: 15px;
}


/* เขียนคำร้อง */
.draft-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.draft-header h1 {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    background-color: #A70C0C;
    border-radius: 15px;
}

.draft-section {
    margin-top: 30px;
}

.draft-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.draft-card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px;
}

.draft-card:hover {
    transform: scale(1.05);
}

.draft-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.draft-card p {
    font-weight: bold;
    color: #333;
}

.draft-card a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
.edit-icon {
    bottom: 15px;
    left: 15px;
    font-size: 18px;
}

/* แบบร่าง */
.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.draftcard {
    width: 190px;
    height: 254px;
    margin-left: 20pxs;
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 1;
}

.card-img {
    display: flex;
    justify-content: right;
}

.card-img img {
    width: 50px;
    height: 50px;
}


.container {
  text-align: center;
}
.course-info h2 {
  margin-top: 50px;
  font-size: 32px;
  color: black;
  font-weight: bold;
}

.date-time {
  font-size: 12px;
  color: #aaa;
  margin-top: 10px;
  padding-top: 10px;
}
.header {
    padding-top: 20px;
    color: black;
}

.not-found {
    margin-top: 100px;
    text-align: center;
}

/* Logo sidebar */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: px;
}

.text-container {
    text-align: right;
    justify-content: right;
}

.text-container h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.text-container p {
    font-size: 15px;
}


.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon-container {
    position: relative;
}

.icon-container img {
    width: 50px;
    height: 50px;
}

.card-sidebar {
    display: flex;
    align-items: center;
    /* flex-flow: row wrap; */
    /* gap: 25%; */
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}


.text-sidebar {
    text-align: right;
    color: #939393;
    width: 50%;
}

.card {
    background-color: #F5A299;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* content */